// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

.expired{
  color: red
}

.expired_soon{
  color: orange
}

.edit_tap input[type="submit"]{
  opacity: 0;
  width: 130px;
  height: 25px;
  position: relative;
  z-index: 10;
}
.cover-button{
  color: #fff;
  display: inline-block;
  text-align: center;
  position: absolute;
  width:130px;
  height: 25px;
  transform: translateX(-100%);
  background-color: violet;
}
