<div class="centered-wrapper">
  <div class="sign-form col-xs-8 col-lg-4">
    <h2>Create new pub</h2>
    <div class="content-wrapper">
    <%= form_for @pub do |f| %>
       <div class="field form-field">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>

    <div class="actions">
      <%= f.submit "Confirm" %>
    </div>

    <% end %>
  </div>
  </div>
</div>
